@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Outfit', sans-serif;
}

@layer components {
    .btn {
        @apply px-6 py-3 rounded-md cursor-pointer shadow block text-center;
    }

    .btn-primary {
        @apply bg-primary-600 text-black text-base font-semibold;
    }

    .btn-black {
        @apply bg-black text-white hover:bg-primary-500 hover:text-black transition-all duration-500 ease-in-out;
    }

    .card {
        @apply block max-w-sm p-6 bg-white rounded-sm border border-gray-100;
    }

    .btn-animated {
        overflow: hidden;
        position: relative;
        transition: 0.2s transform ease-in-out;
        will-change: transform;
        z-index: 0;
    }

    .btn-animated::after {
        @apply bg-primary-500
    }

    .btn-animated::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: 0.2s transform ease-out;
        will-change: transform;
        z-index: -1;
    }

    .btn-animated:hover::after {
        transform: translate(0, 0);
        will-change: transform;
    }

    .btn-animated:hover {
        transform: translate(0, 0) rotate(0deg);
        will-change: transform;
    }

    /* ... */
}

@layer utilities {
    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .snap-center {
        scroll-snap-align: center;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .shadow-topBottom{
        box-shadow: 0px -8px 13px 0px rgba(0, 0, 0, 0.12), 0px 8px 13px 0px rgba(0, 0, 0, 0.12);
    }
}

[x-cloak] { display: none !important; }

/* Image loader */
.image-loader {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px;
    min-height: 400px;
    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }
    100% {
        background-position: 800px 0
    }
}
/* End Image loader */

.header-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
