@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Outfit', sans-serif;
}

@layer components {
    .btn {
        @apply px-6 py-3 rounded-md cursor-pointer shadow;
    }

    .btn-primary {
        @apply bg-primary-600 text-black text-base font-semibold;
    }

    .btn-black {
        @apply bg-black text-white;
    }

    .card {
        @apply block max-w-sm p-6 bg-white rounded-sm border border-gray-100;
    }
    /* ... */
}

@layer utilities {
    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .snap-center {
        scroll-snap-align: center;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .shadow-topBottom{
        box-shadow: 0px -8px 13px 0px rgba(0, 0, 0, 0.12), 0px 8px 13px 0px rgba(0, 0, 0, 0.12);
    }
}
